[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/supercollider"]
	path = libs/supercollider
	url = https://github.com/supercollider/supercollider.git
